{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe _ Ecom{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    Bienvenue {{ app.user.firstname }} dans votre compte. C'est dans cet espace que vous pourrez gérer vos informations.
    <hr>
    <a href="{{ path("account") }}"> Retourner à mon compte </a> <br>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }} </div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}
