@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

body {
    position: relative;
    font-family: 'Quintessential', cursive;
    background-color: #ffc0cbac;
}

main {
    margin: 5px 15px;
}

.my_account {
    color:#aa2ba1;
}

.my_account:hover {
    color:#ee79e6;
}

.navbar-item-custom, .navbar-item-custom a {
    color: white;
}

.marketing {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-custom {
    text-align: center;
    background-color: #ffc0cb;
    margin-top: 25px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item{
    margin-top: 50px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price{
    font-size: 19px;
}

.cart-icon {
    height: 20px;
    width: 20px;
    margin: 10px;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: #ffc0cb99;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label{
    font-weight: bold;
}

.order-summary {
    background-color: #ffc0cb99;
    padding: 20px 5px;
    margin-top: 7px;
}